[user]
	email = richardo2016@gmail.com
	name = richardo2016
[core]
	editor = vim
[color]
	ui = auto
[push]
	default = simple
# # for darwin
# [http "https://github.com"]
#     proxy = socks5://127.0.0.1:1086
# [https "https://github.com"]
#     proxy = socks5://127.0.0.1:1086

# # for windows
# [http "https://github.com"]
#     proxy = socks5://127.0.0.1:1080
# [https "https://github.com"]
#     proxy = socks5://127.0.0.1:1080